.pflicht {
    background-color: #edebe9;
    padding: 112px 0 130px;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #362f25;
        margin-left: 218px;
        margin-bottom: 7px;
    }
    &__btn {
        margin-right: 220px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.07em;
        color: #db5d42;
        border: 2px solid #db5d42;
        border-radius: 53px;
        padding: 14px 68px 14px 35px;
        position: relative;
    }

    &__svg {
        content: "";
        position: absolute;
        top: 16px;
        left: 144px;
    }

    &__btn:hover {
        content: "";
        display: block;
        cursor: pointer;
        background-color: #db5d42;
        color: #fff;

        & .pflicht__svg {
            & rect {
                fill: #fff;
            }
        }
    }

    &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        line-height: 52px;
        color: #362f25;
        margin-bottom: 66px;
        max-width: 441px;
        margin-left: 213px;
    }

    &__content {
        display: flex;
    }

    &__foto {
        margin-left: 225px;
    }
    &__img {
        margin-bottom: 60px;
    }

    &__text {
        max-width: 625px;
        margin-left: auto;
    }

    &__variante {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #362f25;
        margin-bottom: 25px;
    }

    &__link {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 200%;
        color: #625B50;
        padding-bottom: 20px;
    }
}
