.registrierung {
    padding: 43px 0 134px;
    background-image: url("../../../images/fon.jpg"), url("../images/bg__fon/header__bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        display: flex;
        justify-content: space-around;
    }
    &__foto {
        margin-bottom: 157px;
    }
    &__box {
        display: flex;
        justify-content: space-around;
    }

    &__inhalte {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 31px;
        line-height: 132.5%;
        color: #ffffff;
        max-width: 234px;
        margin-top: 59px;
        margin-right: 181px;
    }
    &__title {
        font-family: Cormorant Garamond;
        font-style: normal;
        font-weight: 500;
        font-size: 148.469px;
        line-height: 180px;
        letter-spacing: -0.02em;
        color: #ffffff;
        // margin-left: 220px;
    }
    &__span {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 105.544px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #ffffff;
        margin-left: 284px;
    }
    &__monat {
        margin-top: 109px;
        margin-left: auto;
    }
    &__bottom {
        display: flex;
        justify-content: space-around;
        text-align: justify;
    }
    &__monat {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        color: #ffffff;
    }
    &__nummer {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: 120px;
        line-height: 160px;
    }

    &__arrow {
        display: flex;
        align-items: flex-end;
    }

    &__konto {
        max-width: 625px;
        background-color: #ffffff;
        padding: 97px 94px 90px 94px;
        //    text-align: center;
        border-radius: 8px;
        box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.11);
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
   
    &__form {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__cross {
        position: absolute;
        top: -84px;
        left: 472px;
        
    }

    &__form-title {
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 115%;
        color: #363025;
        margin-bottom: 36px;
    }
    &__input {
        background: #fafafa;
        border-radius: 3px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        color: #9c9790;
        max-width: 437px;
        padding: 8px 337px 8px 22px;
        margin-bottom: 15px;
        border: none;
    }

    &__bt {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.07em;
        color: #db5d42;
        border: 2px solid #db5d42;
        border-radius: 53px;
        padding: 14px 131px 14px 137px;
        margin-bottom: 63px;
        
    }
    &registrierung__input-check {
        border-radius: 2px;
    }
    &__input-check:hover {
        content: '';
        background-color:  #DB5D42;;
    }
    &__bt:hover {
        content: '';
        color: #ffffff;
        background-color: #DB5D42;
        cursor: pointer;
        transition: all .3s;
    }
    &__login {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px; 
        color: #625B50; 
        max-width: 437px;
    }
    &__regist {
        color:  #DB5D42;
        text-decoration: underline;
    }
}